* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.containerscore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.time {
  margin: 0 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  /* gap: 255px; */
  /* background-color: black; */
}

.toprak {
  position: relative;
  /* margin-bottom: 150px; */
  margin: 50px 0;
  z-index: 3;
}

button {
  padding: 10px 20px;
}

.toprak img {
  width: 350px;
  height: 250px;
}

.kostebek img:hover {
  cursor: pointer;
}

.kostebek {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  transition: all 0.4s;
  z-index: -1;
}

.kostebek.active {
  top: -140px;
}

.kostebek img {
  width: 120px;
  /* background-color: pink; */
}

.cont {
  display: flex;
}

.cont2 {
  display: flex;
}
