* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.containerscore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 150px;
}

.time {
  margin: 0 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  gap: 255px;
}

.toprak {
  position: relative;
  /* margin-bottom: 150px; */
}

.toprak img {
  width: 400px;
}

.kostebek {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  top: 0;
}

.kostebek.active {
  top: -150px;
  z-index: 2;
}

.kostebek img {
  width: 200px;
}

.cont {
  display: flex;
}

.cont2 {
  display: flex;
}
